body{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

.header, .sub-header{
    background-color: #1F2937;
    padding: 12px 96px 96px 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.sub-header-text{
    display: flex;
    flex-wrap: wrap;
    width: 39%;    
}

.main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.main-button{
    background-color: #3882F6;
    color: #F9FAF8;
    width: 120px;
    height: 30px;
    border-radius: 25px;
    border: 0;
}

.navigation, .sub-text{
    font-size: 18px;
    color: #E5E7EB;   
}

.navigation{
    display: flex;
    gap: 16px;
}

.sub-text{
    margin: 20px 0;
}

.main-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 500px;
    height: 250px;
    color: #F9FAF8;
}

.box{
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 25px;
}

.information-header{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 48px 0;
}

.information-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.information-box{
    width: 170px;
    gap: 10px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    color: #1F2937;
    padding-bottom: 108px;
}